#banner {
    background: url(../images/home/banner.png);
    background-size: cover;
    position: relative;
    height: 800px;
    width: 100%;
}

#banner-area{
    font-size: 70px;
    left: 10%;
    top: 35%;
    position: absolute;
}

#banner-area a {
    text-decoration: none;
}

.banner-text {
    line-height: 50px;
}

.banner-text {
    color: whitesmoke;
    font-weight: 400;
}

#btnHomeShopNow {
    background-color: black;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    height: 50px;
    font-size: 30px;
    outline: none;
    width: 200px;
}

#btnHomeShopNow:active {
    transform: translateY(1px);
}

#promotions {
    padding-bottom: 2em;
}

.img-promo-home {
    height: 500px;
}

.img-1{
    background: url('../images/home/promo-img1.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.img-2{
    background: url('../images/home/promo-img2.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.img-3{
    background: url('../images/home/promo-img3.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.filter {
    filter: grayscale(30%) blur(3px);
    transform: scale(1.1);
    transition: all .2s ease-out;
}

.home-promo-label {
    z-index: 10;
    position: absolute;
    font-size: 60px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    line-height: 1em;
}
.home-promo-label1 {
    top: 1300px;
    left: 15%;
    letter-spacing: 3px;
}

.home-promo-label2 {
    top: 1100px;
    left: 60%;
}

.home-promo-label3 {
    top: 1800px;
    left: 25%;
}