main {
    background-color: rgb(240, 240, 240);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
    max-width: 2rem;
}

.cart-minus {
    display: none !important;
}

.cart-add {
    display: none !important;
}

.cartItem {
    width: 95% !important;
}
.cartSummary {
    width: 84% !important;
}

/* Media query for desktop layout */
@media only screen and (min-width: 769px) {
    .cart-minus {
        display: block !important;
    }
    
    .cart-add {
        display: block !important;
    }

    
    .cartItem {
        width: 100% !important;
    }

    .cartSummary {
        width: 90% !important;
    }

}