/* Anugna Patibandla -C0791762*/
main {
  padding: 2em 4em;
  background-color: #ecebeb;
}

h4{
  font-weight: bold !important;
  display: flex;
  justify-content: center;
}
.inp{
  width: 90% !important;
}

.login-col {
  background-color: whitesmoke;
  width: 60%;
  margin: auto;
  padding: 2em;
  border-radius: 5px;
}

.btn-black{
  height: 40px;
  font-size: 20px;
  width: 42%;
}

.form-link{
  text-decoration: none;
}

.form-link:hover{
  text-decoration: underline;
}