/* Anugna Patibandla -C0791762*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
  }