#banner {
    background: url(../images/home/banner.png);
    background-size: cover;
    position: relative;
    height: 800px;
    width: 100%;
}

#banner-area{
    font-size: 70px;
    left: 10%;
    top: 35%;
    position: absolute;
}

#banner-area a {
    text-decoration: none;
}

.banner-text {
    line-height: 50px;
    padding: 0.5em 0;
}

.banner-text {
    color: whitesmoke;
    font-weight: 400;
}

.buttonHome {
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 25px;
    outline: none;
    padding: 0.3em 0.75em;
    width: 140px;
}

.buttonHome:active {
    transform: translateY(1px);
}

.btnContents {
    color: white;
    font-weight: 500;
}
#promotions {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.promo-row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 5vmin;
}

.promo-row img {
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.promo-row img:first-child {
    grid-column-start: span 2;
}


.promo-grid {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(12, 5vw);
}

.promo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promo-item {
    margin: 1em;
    font-weight: 900;
    color: white;
}

.promo-item-1 {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 7;
}

.promo-item-2 {
    grid-column-start: 11;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 7;
}

.promo-item-3 {
    grid-column-start: 2;
    grid-column-end: 17;
    grid-row-start: 7;
    grid-row-end: 13;
}

.promo-item-4 {
    margin: 1em auto;
    font-size: 50px;
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 3;
}

.promo-item-5 {
    margin: 1em;
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 50px 70px repeat(3, 1fr);
    padding-left: 1em;
}

.promo-item5-item-1 {
    font-size: 50px;
}

.promo-item5-item-2 {
    font-size: 65px;
}

.promo-item5-item-3 {
    font-size: 50px;
}

.promo-item-8 {
    margin: 1em;
    font-size: 50px;
    grid-column-start: 5;
    grid-column-end: 16;
    grid-row-start: 9;
}
